<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @stock.product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_with_precision(@stock.total, precision: 2) %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
