<%= form_for(installment) do |f| %>
  <% if installment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(installment.errors.count, "error") %> prohibited this installment from being saved:</h2>

      <ul>
      <% installment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_id %>
    <%= f.text_field :sale_id %>
  </div>

  <div class="field">
    <%= f.label :payment_date %>
    <%= f.date_select :payment_date %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
