<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @installment.sale.id %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @installment.payment_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= number_with_precision(@installment.value, precision: 2) %>
</p>

<%= link_to 'Edit', edit_installment_path(@installment) %> |
<%= link_to 'Back', installments_path %>
