<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @discount.kind %>
</p>


<% if @discount.kind == 'percentage' %>
  <p>
  	<strong>Value:</strong>
    <%= number_with_precision(@discount.value, precision: 0) %>
  </p>
<% else @discount.kind == 'money' %>
  <p>
  	<strong>Value:</strong>
    <%= number_with_precision(@discount.value, precision: 2) %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @discount.description %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
