<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.select(:client_id, Client.all.collect { |c|
    [c.name, c.id] }, {include_blank: 'Selecione...'}) %>
  </div>

  <div class="field">
    <%= f.label :sale_date %>
    <%= f.date_select :sale_date %>
  </div>

  <div class="field">
    <%= f.label :discount_id %>
    <%= f.select(:discount_id, Discount.all.collect { |d|
    [d.name, d.id] }, {include_blank: 'Selecione...'}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
