<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Remaining:</strong>
  <%= @sale.remaining %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @sale.discount %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
