<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @sale.client.name %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Remaining:</strong>
  <%= @sale.remaining %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<% if @sale.discount.blank? %>
  <p>
    <strong>Discount:</strong>
    <%= 'Sem Desconto' %>
  </p>
<% else %>
    <p>
    <strong>Discount:</strong>
    <%= @sale.discount.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
